body, h1{
  margin: 0px;
  padding: 0px;
}

h1, h2{
  font-family: sans-serif;
  font-weight: 400;
}

section{
  padding: 20px;
  position: relative;
}

textarea{
  width: 100%;
}

#demoWrapper textarea{
  padding-bottom: 2px;
  font-size: 24px;
}

#codeArea textarea{
  width:calc(100% - 40px);
  padding: 20px;
  margin-top: 20px;
  resize: none;
  outline: none;
}

#demoWrapper button{
  font-size: 24px;
}

#demoWrapper{
  width:80%;
  margin:50px auto 20px;
  position: relative;
  overflow: hidden;
  height: 200px;
  display: flex;
  flex-direction: column;

}

#settings, #codeArea{
  background-color: #222;
  border-bottom: 1px solid #000;
  box-shadow: 0px 2px 3px #777;
  color:#fff;
}

#copyCodeSnippet{
  position: absolute;
  right: 18px;
  top: 30px;
  font-size: 18px;
}

.place::before{
  color:#fff !important;
}

/** shoutout to fireship.io for the tutorial on this style of animation **/
.field{
  width: 100%;
  position: relative;
  border-bottom: 1px dashed #777;
  margin: 2.5rem auto;
}

.field input{
  width:100%;
  outline: none;
  border:none;
  overflow:hidden;
  padding: 0.15rem 0;
  background: none;
  color:#fff;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 15;
}

.field::after{
  content:"";
  position: relative;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #be0116;
  transform: scaleX(0);
  transform-origin: 10%;
  transition: transform 300ms ease;
  top:2px;
}

.field:focus-within{
  border-color: transparent;
}

.field:focus-within::after{
  transform: scaleX(1);
  transition: transform 200ms ease;
}

.field label{
  z-index: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform: translateY(-1rem);
  transform-origin: 0%;
  transition: transform 200ms;
  user-select: none;
}
.field:focus-within label,
.field input:not(:placeholder-shown) + label{
  transform: scale(0.8) translateY(-3rem);
}
